/* Nav-Bar */
.nav-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  font-weight: bold;
  color: #5b47d1;
  text-decoration: none;
  border: 2px solid #4361ee;
  background-color: #f0edff;
  padding: 5px 8px;
  font-size: 18px;
}
.nav-links {
  display: flex;
  gap: 25px;
  list-style: none;
}
.nav-links li a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}
/* Nav-Bar */

/* Banner */

.banner-container {
  position: relative;
  width: 100%;
  height: 400px;
}

.background-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.centered-text h1 {
  font-style: bold;
  font-size: 48px;
}
/* Banner */
/* News */
.news-flex-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: bold;
  color: #000;
}

.news-card {
  max-width: 360px;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.card-image {
  height: 200px;
  width: 100%;
}

.card-content {
  padding: 20px;
}
.card-text {
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #666;
  margin-bottom: 12px;
}
.color-purple {
  background-color: #d4cbf9;
}
.color-pink {
  background-color: #fbcfe8;
}
.color-blue {
  background-color: #bae6fd;
}
.color-green{
    background-color: #D4FFB8;
}
.color-yellow{
    background-color: #FFE4B8;
}
.color-apricot{
    background-color: #FFD4B8;
}
/* News */


.footer {
    background-color: #252424; 
    height: 403px; 
    color: #ffffff;
    margin-top: 50px;
}

.footer-container {
    width: 100%;             
    width: 1000px;    
    margin: 0 auto;         
    display: flex;    
    gap: 100px;        
}

.left-column {
    display: flex;
    flex-direction: column;
    max-width: 400px;    
}

.footer-section {
    margin-bottom: 40px;
}

h3 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 15px;
}

.footer p {
    font-size: 14px;
    line-height: 1.6;    
    color: #b0b0b0;      
}

.contact-info p {
    margin-bottom: 8px;
}

.footer-links {
    list-style: none; 
    padding: 0;         
}

.footer-links li {
    margin-bottom: 5px;
}

.footer-links a {
    text-decoration: none;
    color: #b0b0b0;   
    font-size: 14px;
}
